<h3>Add a Task</h3>
<label> Task Name: </label>
<input type="text" placeholder="Type Task Name" class="input_box" id="task">
<br>
<label> Task Description: </label>
<textarea type="textarea" placeholder="Add description" class = "form-control" id="text_descr"></textarea>
<br>
<label>Deadline Date: </label>
<input type="date" placeholder="Due Date: " id="task_date">
<br>
<label>Priority Level:</label>
<select id="plevel" name="plevel">
    <option value="None">None</option>
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
</select>