{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
.container {
  height: 300px;
  position: relative;
  border: 3px solid purple;
  text-align:center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
form {
    display: inline-block;
}
</style>
<div class="container">
  <h2 style="text-align:center; padding:20px">Are you sure you want to delete task "{{ task.title }}"?</h2>
  <br>
  <div class="vertical_center">
    <form method="post">
      {% csrf_token %}
      {% crispy form %}
      <button type="submit" class="btn btn-secondary" style="width:100px">Yes, delete</button>
      <a href="{% url 'todo:task-list' %}" class="btn btn-info" style="width:100px" role="button">Cancel</a>
    </form>
  </div>
  

  
{% endblock %}
