{% extends 'todo/base.html' %}

{% block content %}
<style>
  
  .form{
    display: inline-block;
  }
</style>

<div class="container">
  <h2>{% if object %}Edit{% else %}Add{% endif %} Task</h2>
  <form method="post">
    <div class="form-group">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-secondary">Save</button>
      <a href="{% url 'todo:task-list' %}" class="btn btn-info" role="button">Cancel</a>
  </form>
    </div>
</div>
  
    
{% endblock %}
