{% extends 'todo/base.html' %}


{% block content %}


<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="{% url 'todo:task-update' task.id %}">Edit Task</a></p>
      <p><a href="{% url 'todo:task-delete' task.id %}">Delete Task</a></p>
      
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>{{ task.title }}</h1>
      <p>{{ task.description }}</p>
      <hr>
      <p>Priority: {{ task.get_priority_display }}</p>
      <p>Due Date: {{ task.date }}</p>
      <p>Completed: {{ task.completed }}</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}
