{% extends 'todo/base.html' %}

{% block content %}
  <h2>Task List</h2>

  <ul>
    {% for task in tasks %}
      <li>
        {{ task.title }} - {{ task.get_priority_display }}
        <a href="{% url 'todo:task-detail' task.id %}">View</a>
        <a href="{% url 'todo:task-update' task.id %}">Edit</a>
        <a href="{% url 'todo:task-delete' task.id %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
  <div class="task_table">
    <ul id="myUL"></ul>
  </div>
  <table class="table table-dark" id="taskTable">
    <thead>
      <tr>
        <th scope="col">Task Name</th>
        <th scope="col">Task Description</th>
        <th scope="col">Task Deadline</th>
        <th scope="col">Task Priority Level</th>
        <th scope="col">Completed?</th>
      </tr>
    </thead>
{% endblock %}
